/* .main-container {
    display: flex;
}

.image-container {
    position: relative;
    height: 100vh;
} */

img {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: auto;
}

.overlay-box {
    background-color: rgb(0, 0, 0, 0.5);
    position:fixed;
    left:0;
    top: 20vh;
    width: calc(100vh * (350.125 / 525));
    height: 150px;
    display: flex;
    align-items: center;
}

.overlay-box img {
    position: relative;
    height: 130px;
    left: 15%;

}

.logo-text {
    color: white;
    font-size: 100px;
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    margin-left: 20%;
}

.right-content {
    /* display: flex;
    flex-wrap: wrap; */
    /* justify-content: center;
    align-items: center; */
    position: absolute;
    left: calc(100vh * (350.125 / 525));
    margin: 20px 50px 20px 50px;
}
.welcome {
    font-size: 20px;
    font-weight:bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 100px;
    
}