/* .image-container {
    
} */

img {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: auto;
}

.overlay-box {
    background-color: red;
    position:fixed;
    left:0;
    top: 20vh;
    width: calc(100vh * (350.125 / 525));
    height: 100px;
}